/* stylelint-disable no-descending-specificity */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fdfdfd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

button {
  padding: 8px 5px;
  cursor: pointer;
  font-weight: 600;
  background: #d2d2d2;
  border: none;
  border-radius: 3px;
  color: #2c2c2c;
}

button:hover {
  background: #c0c0c0;
}

#navbar {
  display: flex;
  gap: 85px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 26px;
  width: 100%;
  background-color: #fdfdfd;
}

#navbar h1 a {
  text-decoration: none;
  color: #f002;
  background-image: url("../img/blood-wood-360x240.jpg");
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100% 100%;
  font-size: 2rem;
}

#navbar .navlinks {
  list-style: none;
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
}

.navlinks a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 600;
}

.navlinks a:hover {
  color: #414141;
}

#shows-preview {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 5%;
  background-color: #ededfd;
}

.movie-holder {
  display: flex;
  flex-direction: column;
  width: 260px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  background: #2c2c2c;
  box-shadow: #a2a2a2 1px 1px 15px 1px;
}

.movie-holder img {
  width: 100%;
}

.movie-holder .show-title {
  width: 100%;
}

.section-underImage {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  align-items: flex-start;
  font-weight: 600;
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likes-container p {
  width: max-content;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.like-button:hover i {
  color: red;
}

.like-button:hover {
  background: none;
}

.like-button:active {
  background: none;
}

#popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a2a2a222;
  backdrop-filter: blur(5px);
}

#comments-popup {
  position: fixed;
  background: #2c2c2c;
  top: 25px;
  right: 10%;
  bottom: 25px;
  left: 10%;
  display: grid;
  grid-template-areas: 'img header  header'
    'img details  details'
    'img comments newcomment';
  grid-auto-rows: auto;
  grid-template-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px);
  grid-template-rows: 50px auto;
  padding: 40px 5%;
  column-gap: 20px;
  row-gap: 10px;
  overflow-y: auto;
  border-radius: 4px;
  scroll-behavior: smooth;
}

#comments-popup h3 {
  text-align: center;
  margin: 5px 0;
  color: #fdfdfd;
}

#comments-popup .close-butt {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 30px;
  height: 30px;
}

.close-butt div {
  width: 25px;
  height: 4px;
  background-color: #fff;
  margin: 1px 0;
}

.close-butt div:nth-child(1) {
  transform: rotate(-49deg) translate(-4px, 0);
}

.close-butt div:nth-child(2) {
  transform: rotate(49deg) translate(-3px, 1px);
}

#comments-popup .img-wrapper {
  grid-area: img;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#comments-popup .show-name {
  font-size: 2.2rem;
  grid-area: header;
}

#comments-popup .details {
  display: grid;
  grid-template: auto / max-content max-content;
  align-content: start;
  grid-area: details;
}

.details span {
  max-width: 250px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  background-color: #9a9a9a;
}

#comments-popup .comments-display {
  grid-area: comments;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  text-align: center;
  background-color: #808080;
}

.comments-display div {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  overflow-y: auto;
  padding: 5px 0;
}

.comments-display h3 {
  padding: 8px 0;
}

.comments-display div span {
  padding: 10px 5px;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
  text-align: left;
  background-color: #ff8080;
}

.comments-display div span:not(:first-child) {
  margin-top: -1px;
}

#comments-popup .new-comment-form {
  display: flex;
  flex-direction: column;
  grid-area: newcomment;
  padding: 5px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  background-color: #808080;
}

.new-comment-form * {
  margin: 5px 0;
  width: 100%;
  padding: 8px 5px;
  color: #2c2c2c;
}

.new-comment-form textarea {
  min-height: 150px;
  resize: none;
}

.new-comment-form input,
.new-comment-form textarea {
  text-align: left !important;
  background-color: #f2f2f2;
  border: none;
}

footer {
  width: 100%;
  background-color: #fdfdfd;
}

.p-footer {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #2c2c2c;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #comments-popup {
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
    grid-template-areas: 'header header'
      'img details'
      'newcomment newcomment'
      'comments comments';
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    padding: 10px;
  }

  #comments-popup .show-name {
    font-size: 1.7rem;
    margin: 10px 0;
  }

  #comments-popup .details {
    display: grid;
    grid-template: auto / 100%;
    align-content: start;
    grid-area: details;
  }

}

@media screen and (max-width: 800px) {
  #comments-popup {
    grid-template-areas: 'header header'
      'img details'
      'newcomment newcomment'
      'comments comments';
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  #comments-popup .details {
    display: grid;
    grid-template: auto / 100%;
    align-content: start;
    grid-area: details;
  }

}
